/* Fonts */
@font-face {
    font-family: CocoSharp;
    src: url("../fonts/CocoSharpL-Regular.otf");
  }

/* General */
body {
    margin: 0;
    color: #1F1F1F;
    font-family: CocoSharp;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
@media(max-width: 1050px) {
    .navbar-social-button {
        display: none !important;
    }
}

@media(max-width: 650px) {
    .header-dim-notsosmall {
        display: none !important;
    }
}

@media(min-width: 650px) {
    .header-dim-ultrasmall {
            display: none !important;
    }
}

@media (max-width: 900px) {
    .about {
        text-align: center;
    }

  .navbar {
    display: none !important;
  }

  .header {
    display: none !important;
  }

  .description-img {
    display: none !important;
  }

  .description {
    flex-direction: column !important;
    gap: 1rem;
    padding-bottom: 2rem !important;
  }
}

@media (min-width: 900px) {
    .header-small {
        display: none !important;
    }

    .navbar-small {
        display: none !important;
    }

    .navbar-small-items {
        display: none !important;
    }

    .description-small-img {
        display: none !important;
    }

    .description {
        flex-direction: row !important;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-image: linear-gradient(to bottom, #d4eef1, #ffffff);
    letter-spacing: 3px;
}

.navbar-small {
    padding: 1rem;
}

.navbar-small-items {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1.5rem;
    letter-spacing: 2px;
    background-image: linear-gradient(to bottom, #d4eef1, #ffffff);
    align-items: flex-start;
}

.navbar-left {
    flex: .33;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navbar-center {
    flex: .33;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
}

.navbar-small-item {
    border-bottom: 2px solid transparent;
}

.navbar-item {
    border-bottom: 2px solid transparent;
}

.active {
    border-bottom: 2px solid #1F1F1F;
}

.navbar-item:hover {
    border-bottom: 2px solid #1F1F1F;
    transition: .25s;
}

.navbar-small-item:hover {
    border-bottom: 2px solid #1F1F1F;
    transition: .25s;
}

.navbar-right {
    flex: .33;
}

/* Sections */
.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.75rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-index {
    background-image: url("../img/index.jpeg");
}

.header-prezentare {
    background-image: url("../img/pink.jpg");
}

.header-kikus {
    background-image: url("../img/kikus.jpg");
}

.header-small {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.75rem;
    gap: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-small-index {
    background-image: url("../img/index.jpeg");
}

.header-small-prezentare {
    background-image: url("../img/pink.jpg");
}

.header-small-kikus {
    background-image: url("../img/kikus.jpg");
}

.header-small-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-small-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.header-dim-notsosmall {
    display: flex;
    flex-direction: row;
}

.header-small-subitem {
    text-align: center;
}

.header-small-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.header-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 1 1 65%;
    justify-content: space-between;
}

.header-subitem {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.header-subitem img {
    max-width: 70%;
    height: auto;
    display: block;
}

.header-subitem-row {
    flex: 1;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    letter-spacing: 1.15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

.description-index {
    min-height: 200px;
}

.description-prezentare {
    min-height: 75px;
}

.description-img {
    flex: 1;
}

.description-img img {
    max-width: 100px;
}

.description-small-img img {
    max-width: 150px;
}

.highlight {
    color: #33b5c8;
}

.activities {
    min-height: 250px;
    background-image: linear-gradient(to bottom, #d3edf1, #ffffff);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    flex-wrap: wrap;
}

.activities-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.activities-subitem {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.activity-image {
    max-width: 75%;
    max-height: 200px;
    display: block;
}

.activity-title {
    font-size: 1.25rem;
    letter-spacing: 3px;
}

.blob1 {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
}

.blob2 {
    border-radius: 25% 75% 44% 56% / 34% 30% 70% 66%;
}

.blob3 {
    border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%;
}

.prezentare {
    background-image: linear-gradient(to bottom, #d3edf1, #ffffff);
}

.about {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.about-left {
    flex: 3; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

.about-right {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-right img {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    max-width: 300px;
    height: auto;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-paragraph {
    flex: 1;
}

.grupe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
}

.grupe-components {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    flex-wrap: wrap;
}

.grupe-component {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.grupe-component-image img {
    max-height: 200px;
}

.grupe-component-title {
    font-size: 1.3rem;
    color: #1cb1cb;
}

.grupe-component-description {
    text-align: center;
}

.kikus {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    letter-spacing: 1.15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    text-align: center;
}

/* Components */
.title {
    font-size: 2.5rem;
    color: #1cb1cb;
}

.button {
    border: 2px solid white;
    border-radius: 20px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    color: white;
    background-color: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}

.button:hover {
    color: #1F1F1F;
    background-color: white;
    transition: .25s;
}